# Python virtual environment
.venv/
venv/
ENV/
env/

# Node dependencies
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases & local data
*.db
*.sqlite
backend1/app/static/avatars/*

# IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Secrets & local variables
.env
.env.*
